page-login
{
    ion-img{
        object-fit: cover;
        background: white;
        width: 100px;
        height: 100px; 
    }

    p.centerPadding{
        text-align: center;
        margin-top: 5px;
    }

    .center{
        text-align: center;
    }

    .blue{
        color:#673ab7;
    }
    
    ion-item.padding{
        padding: 25px 10px 14px 16px !important;
    }
    
    button.color{
        background-color:#673ab7 !important;
        color: white !important;
    }
    ion-item ion-label{
        font-size: 12px;
        font-weight: bold;
    }
    #align.item-md.item-block .item-inner,
    #align.item-wp.item-block .item-inner {
        margin-left:23px;
    }

    #button.item-md.item-block .item-inner{
        border-bottom:none;
    }
    
}

