page-transaction {

    .background{
        background-color: rgba(104, 58, 183, 0.066);
        margin-bottom: 10px;
        padding:4px;
    }
    
    .text {
        padding: 2px;
        font-size: 11px;
        color: #56309c;
        padding-left: 5px;
        padding-right: 10px;
    }
    
    .text-padding{
        padding: 20px 0px 10px
    }
    
    .text-ios{
        margin-left: 5px;
        margin-right: 5px;
    }
    
    .text-left{
        text-align: left;
    }
    
    .text-right{
        text-align: right;
    }
    
    .text-left-float{
        float: left;
    }
    
    .text-right-float{
        float:right;
    }
    
    .small{
        font-size: 8px;
        color: rgba(104, 58, 183, 0.99);
    }
    
    .text-bold{
        font-weight: bold;
    }

    .header{
        color:white;
        text-align: center;
    }
    .headersmall{
        font-size: 10px;
    }
    .headermedium{
        font-size: 13px;
    }
    .medium{
        font-size:13px;
    }
    .headerlarge{
        font-size: 16px;
    }
}
