page-transaction {
   .text-right{
        text-align: right;
        font-size: 10px;
    }
    .text-left{
        padding-top: 2px;
        text-align: center;
        font-size: 10px;
    }
    .small{
        font-size: 8px;
        color: dimgray;
    }
    .text-bold{
        font-weight: bold;
    }

    // ion-header .toolbar-ios-phonepe .toolbar-title-ios,
    // ion-header .toolbar-md-phonepe .toolbar-title-md{
    //     font-size:15px;
    // }

    // ion-header ion-toolbar .toolbar-ios-phonepe .toolbar-title-ios,
    // ion-header ion-toolbar .toolbar-md-phonepe .toolbar-title-md{
    //     font-size:12px;
    // }

    .headersmall{
        font-size: 13px;
        color: white;
    }
}
