<!--
  Generated template for the TransactionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="phonepe">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>    
    <ion-title hideWhen="ios" class="font" text-uppercase>Merchant Name</ion-title>
    <!-- <ion-buttons color="snowwhite" right>
      <button ion-button icon-only (click)="fetchFilter()">
        <ion-icon name="funnel" ></ion-icon>
      </button>
    </ion-buttons> -->
    <ion-title showWhen="ios"  class="font" text-uppercase>
      <div class="header headerlarge">Merchant Name</div>
    </ion-title>
  </ion-navbar>
  <ion-toolbar color="phonepe1">
    <ion-row color="phonepe"  class="header medium text-bold">
      <ion-col col-6 >
        Total Amount <br>
        <span *ngIf="totalAmount">{{ totalAmount | currency:'INR':'true':'1.0' }}</span>
        <span *ngIf="!totalAmount">--</span>
      </ion-col>
      <ion-col col-6>
        Total Transactions <br>
        <span>{{ transactionsList.length || '--' }}</span>
      </ion-col>
      <ion-col col-12 class="headersmall">
          <span>{{ date | date: 'dd/MMM/yyyy' }}</span>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content [hidden]="loadingPage" no-padding>
  <ion-refresher (ionRefresh)="doRefresh($event)" [enabled]="enableRefresher">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <div *ngIf="transactionsList.length > 0">
    <ion-card class="background" *ngFor="let item of transactionsList">
      <ion-row>
        <ion-col class="text medium text-bold" col-8>
          {{ item.amount | currency:'INR':'true':'1.0' }}
        </ion-col>
        <ion-col class="text" text-right float-right col-4>
          {{ item.mobileNumber| mask }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="text" text-left col-8>
          {{ item.terminal }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col  class="text small" text-left col-8>
          {{ item.date }}
        </ion-col>
        <!-- <ion-col class="text text-right text-right-float" col-4>
          {{ item.terminal }}
        </ion-col> -->
      </ion-row>
    </ion-card>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" [enabled]="enableInfiniteScroll">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
  <div *ngIf="transactionsList.length == 0">
    <ion-card class="background">
      <ion-row>
        <ion-col class="headerlarge text text-bold" text-center >
          No Transactions Found
        </ion-col>   
      </ion-row>
    </ion-card>
  </div>
</ion-content>
<ion-content [hidden]="!loadingPage"></ion-content>

  