page-transaction {
   .text-right{
        text-align: right;
        font-size: 10px;
    }
    .text-left{
        padding-top: 2px;
        text-align: center;
        font-size: 10px;
    }
    .small{
        font-size: 8px;
        color: dimgray;
    }
}
