// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.loading-wrapper{
    background: transparent !important;
    padding: 0px !important;
}

.loading-content {
    .cssload-container{
        position:relative;
    }
    
    .cssload-whirlpool,
    .cssload-whirlpool::before,
    .cssload-whirlpool::after {
        position: absolute;
        top: 50%;
        left: 50%;
        border: 2px solid #673ab7;
        border-left-color: white;
        border-right-color: white;
        border-radius: 1748px;
    }

    .cssload-whirlpool {
      margin: -44px 0 0 -44px;
      height: 88px;
      width: 88px;
      animation: cssload-rotate 1150ms linear infinite;
    }

//     .cssload-whirlpool::before {
//       content: "";
//       margin: -40px 0 0 -40px;
//       height: 77px;
//       width: 77px;
//       animation: cssload-rotate 1150ms linear infinite;
//     }

//     .cssload-whirlpool::after {
//         content: "";
//        margin: -51px 0 0 -51px;
//        height: 98px;
//        width: 98px;
//       animation: cssload-rotate 2300ms linear infinite;
//    }

    @keyframes cssload-rotate {
        100% {
          transform: rotate(360deg);
        }
    }     
}
