// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// .toolbar{
//     min-height: 5px;
//}
.item-inner{
    margin-top: 10px;
}
a[disabled], button[disabled], [ion-button][disabled]{
    background-color: #a7a7ac;
    pointer-events: none;
}

.focus-outline button:focus, .focus-outline [ion-button]:focus{
    border-color: color($colors, phonepe);
    outline: 2px solid color($colors, phonepe);
    box-shadow: 0 0 8px 1px color($colors, phonepe);
}

#noLine .label-md{
    margin:0px;
}

#noLine.item-block {
    min-height: 0px;
}


.ios .error {
    padding-left:33px;
}

.md .error {
    padding-left: 50px;
}

.label-ios{
    margin: 0px 0px 10px 0px;
}

.error{
    color: red;
    font-size: 11px;
}

.invalid {
    border-bottom: 1px solid #f53d3d;
}

.loading-wrapper{
    background: transparent !important;
    padding: 0px !important;
}

.loading-content {
    .cssload-container{
        position:relative;
    }
    
    .cssload-whirlpool,
    .cssload-whirlpool::before,
    .cssload-whirlpool::after {
        position: absolute;
        top: 50%;
        left: 50%;
        border: 2px solid color($colors, phonepe);;
        border-left-color: white;
        border-right-color: white;
        border-radius: 1748px;
    }

    .cssload-whirlpool {
      margin: -44px 0 0 -44px;
      height: 88px;
      width: 88px;
      animation: cssload-rotate 1150ms linear infinite;
    }
    /*
    .cssload-whirlpool::before {
      content: "";
      margin: -40px 0 0 -40px;
      height: 77px;
      width: 77px;
      animation: cssload-rotate 750ms linear infinite;
    }

    .cssload-whirlpool::after {
        content: "";
       margin: -51px 0 0 -51px;
       height: 98px;
       width: 98px;
      animation: cssload-rotate 2300ms linear infinite;
   }
   */

    @keyframes cssload-rotate {
        100% {
          transform: rotate(360deg);
        }
    }
}

#noLine.item-ios.item-block .item-inner,
#noLine.item-md.item-block .item-inner{
    border-bottom: none;
}

.phonepe {
    color: color($colors, phonepe);
}

#noStyle .button-inner { 
    text-transform: none;
}

.dark_grey{
    color: grey;
}

.alert-ios .alert-button{
    color: color($colors, phonepe);
}

.alert-ios [aria-checked=true] .alert-radio-inner,
.alert-md [aria-checked=true] .alert-radio-inner,
.alert-md [aria-checked=true] .alert-radio-label,
.alert-ios [aria-checked=true] .alert-radio-label{
    color: color($colors, phonepe);
    border-color: color($colors, phonepe);
}
.toast-success {
    > div{
        background-color: rgb(112, 151, 54) !important;
        color: black !important;
    }
}

.toast-failure {
    > div{
        background-color: #f53d3d !important;
        color: white !important;;
    }
}

.text-bold{
    font-weight: bold;
}

.text {
    padding: 2px;
    font-size: 11px;
    color: #56309c;
    padding-left: 5px;
    padding-right: 10px;
}

.text-ios{
    margin-left: 5px;
    margin-right: 5px;
}

.small{
    font-size: 8px;
    color: rgba(104, 58, 183, 0.99);
}

.header{
    color:white;
    text-align: center;
}

.headersmall{
    font-size: 10px;
}

.medium{
    font-size:13px;
}

.headerlarge{
    font-size: 16px;
}

.toolbar .searchbar-ios{
    background: #673ab7;
}
