report-card {
 .scroll {
     min-height: 20px;
     max-height: 120px;
     overflow: scroll;
     //background-color: rgba(103, 58, 183, 0.1);
 }
 .card-background{
    background-color: rgba(103, 58, 183, 0.1); 
    width: 70%;
    margin-left: 15% !important;    
 }
 .phonepe{
     color: white;
     background: color($colors, phonepe);
     padding: 5px 0px;
 }
}
