<!-- Generated template for the ReportCardComponent component -->
<div>
  <span *ngIf="chart"> 
    <ion-icon float-right small padding-right padding-top color="phonepe" name="download" (click)="downloadImage()"></ion-icon>
  </span>
  <span *ngIf="chart"> 
    <ion-icon float-left small padding-left padding-top color="phonepe" name="refresh" (click)="refreshData()"></ion-icon>
  </span>
  <ion-item padding-bottom *ngIf="chart" text-center>
    <canvas #barCanvas (click)="chartClicked($event)"></canvas>
    <span class="textDanger" float-right padding-left><sup>*</sup>Click on bar for individual reports</span>
  </ion-item>
  <span text-left padding class="textDesign text-bold">Stores {{ activeLabel }}</span>
  <div class="padding" *ngIf="storeLists.length > 0">
    <ion-item  class="itemCustom" *ngFor="let list of storeLists">
      <ion-row>
        <ion-col class="text medium" col-6>
          {{ list.name}}
        </ion-col>
        <ion-col class="text medium" text-right float-right col-4 *ngIf="segmentName == 'Amount'">
          {{ list.value | currency:'INR':'true':'1.0'}}
        </ion-col>
        <ion-col class="text medium" text-right float-right col-4 *ngIf="segmentName != 'Amount'">
            {{ list.value }}
          </ion-col>
      </ion-row>
    </ion-item>
    <ion-item >
      <ion-row>
        <ion-col class="text medium" push-7 col-1 text-right>
          <button *ngIf="moreDataStores" small outline  full class="linkText" text-underline (click)="fetchNewData()">More</button>
          <button *ngIf="stores.length > 0 && storeLists.length == stores.length" full small outline class="linkText" (click)="hideData()">Hide</button>  
        </ion-col>
      </ion-row>
    </ion-item> 
  </div>
  <div>
    <ion-item class="item-background" *ngIf="storeLists.length == 0">
      <span class="text medium text-bold" text-center>
        No Data Available
      </span>
    </ion-item>   
  </div>
  
  <span text-left padding class="textDesign text-bold">Instruments {{ activeLabel }}</span>
  <div class="padding" *ngIf="instruments.length > 0">
    <ion-item  class="itemCustom" *ngFor="let list of instrumentLists" no-padding>
      <ion-row>
        <ion-col class="text medium" col-6>
          {{ list.name}}
        </ion-col>
        <ion-col class="text medium" text-right float-right col-4 *ngIf="segmentName == 'Amount'">
          {{ list.value | currency:'INR':'true':'1.0'}}
        </ion-col>
        <ion-col class="text medium" text-right float-right col-4 *ngIf="segmentName != 'Amount'">
          {{ list.value }}
        </ion-col>
      </ion-row>
    </ion-item>   
  </div>
  <div *ngIf="instrumentLists.length == 0">
    <ion-item class="item-background">
      <span class="text medium text-bold" text-center>
        No Data Available
      </span>
    </ion-item> 
  </div>

</div>

